.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03175a;
  color: #000;
  padding: 10px 20px;
  border-bottom: 2px solid #000;

  .logo img {
    height: 40px;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin: 0 15px;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: #007bff; /* Blue */
          }
        }
        &:hover .dropdown-menu {
          display: block;
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          background-color: #fff;
          color: #000;
          min-width: 150px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          padding: 10px 0;
          border-radius: 5px;
          z-index: 1000;

          li {
            margin: 0;

            a {
              color: #000;
              padding: 10px 20px;
              display: block;

              &:hover {
                background-color: #f1f1f1;
              }
            }
            &::after {
              content: 'v'; 
              font-size: 0.8em;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .search {
    display: flex;
    align-items: center;

    input {
      padding: 5px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-right: 5px;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #28a745; /* Green */
      }
    }

    button {
      padding: 5px 10px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      background-color: #ffc107; /* Yellow */
      color: #000;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0a800; /* Darker Yellow */
      }
    }
  }
}

.emaps-lite-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 20px 50px;

  .emaps-logo img {
    height: 30px;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin: 0 15px;

        a {
          color: #000000;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: #07b0ff; /* Yellow */
          }
        }
        &:hover .dropdown-menu {
          display: block;
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          background-color: #fff;
          color: #000;
          min-width: 150px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          padding: 10px 0;
          border-radius: 5px;
          z-index: 1000;

          li {
            margin: 0;

            a {
              color: #000;
              padding: 10px 20px;
              display: block;

              &:hover {
                background-color: #f1f1f1;
              }
            }
            &::after {
              content: ' ▾'; /* Line arrow */
              font-size: 0.8em;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}


